In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bikers.csv", low_memory=False)

In [3]:
df.head()

,Unnamed: 0,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO_x,CRASH_DATE_x,CITY,STATE,ZIPCODE,SEX,...,TRAILER1_WIDTH,TRAILER1_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,0,O838337,BICYCLE,03204df22743eb4559749b8e3966c471a544228aa0fe9c...,JD144885,02/08/2020 05:04:00 PM,CHICAGO,IL,60628,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,O874505,BICYCLE,0d5d0bebc62e6653d10db0187013c73349440dd237356b...,JD214394,04/22/2020 09:32:00 AM,CHICAGO,IL,60632,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,O849077,BICYCLE,5a16c6b44a53cc000fa17d7150b714e7b03a0b567ec602...,JD163465,02/23/2020 09:15:00 PM,CHICAGO,IL,60657,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,O1305166,BICYCLE,f6530ba62b5c98c25065dae4779f0303b6a201c5735a9c...,JF186366,03/25/2022 03:22:00 PM,EVANSTON,IL,60202,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,O1305176,BICYCLE,af832f1ac5d658f789ec5aafbeaa9f8e85f77397f8e8b6...,JF186444,03/25/2022 03:20:00 PM,EVANSTON,IL,60202,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10394 entries, 0 to 10393
Data columns (total 135 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10394 non-null  int64
 1   PERSON_ID                      10394 non-null  object
 2   PERSON_TYPE                    10394 non-null  object
 3   CRASH_RECORD_ID                10394 non-null  object
 4   RD_NO_x                        10371 non-null  object
 5   CRASH_DATE_x                   10394 non-null  object
 6   CITY                           8934 non-null   object
 7   STATE                          8832 non-null   object
 8   ZIPCODE                        7421 non-null   object
 9   SEX                            10249 non-null  object
 10  AGE                            8844 non-null   float64
 11  SAFETY_EQUIPMENT               10256 non-null  object
 12  EJECTION                       10069 non-null  object
 13  INJURY_CLASSIFICATION          10392 non-null  object
 14  HOSPITAL                       5251 non-null   object
 15  EMS_AGENCY                     4377 non-null   object
 16  DRIVER_ACTION                  10191 non-null  object
 17  DRIVER_VISION                  10152 non-null  object
 18  PHYSICAL_CONDITION             10204 non-null  object
 19  PEDPEDAL_ACTION                10392 non-null  object
 20  PEDPEDAL_VISIBILITY            10392 non-null  object
 21  PEDPEDAL_LOCATION              10392 non-null  object
 22  BAC_RESULT                     10036 non-null  object
 23  BAC_RESULT VALUE               2 non-null      float64
 24  CELL_PHONE_USE                 14 non-null     object
 25  RD_NO_y                        10371 non-null  object
 26  CRASH_DATE_EST_I               519 non-null    object
 27  CRASH_DATE_y                   10394 non-null  object
 28  POSTED_SPEED_LIMIT             10394 non-null  int64
 29  TRAFFIC_CONTROL_DEVICE         10394 non-null  object
 30  DEVICE_CONDITION               10394 non-null  object
 31  WEATHER_CONDITION              10394 non-null  object
 32  LIGHTING_CONDITION             10394 non-null  object
 33  FIRST_CRASH_TYPE               10394 non-null  object
 34  TRAFFICWAY_TYPE                10394 non-null  object
 35  LANE_CNT                       2921 non-null   float64
 36  ALIGNMENT                      10394 non-null  object
 37  ROADWAY_SURFACE_COND           10394 non-null  object
 38  ROAD_DEFECT                    10394 non-null  object
 39  REPORT_TYPE                    10015 non-null  object
 40  CRASH_TYPE                     10394 non-null  object
 41  INTERSECTION_RELATED_I         3879 non-null   object
 42  NOT_RIGHT_OF_WAY_I             88 non-null     object
 43  HIT_AND_RUN_I                  2795 non-null   object
 44  DAMAGE                         10394 non-null  object
 45  DATE_POLICE_NOTIFIED           10394 non-null  object
 46  PRIM_CONTRIBUTORY_CAUSE        10394 non-null  object
 47  SEC_CONTRIBUTORY_CAUSE         10394 non-null  object
 48  STREET_NO                      10394 non-null  int64
 49  STREET_DIRECTION               10394 non-null  object
 50  STREET_NAME                    10394 non-null  object
 51  BEAT_OF_OCCURRENCE             10394 non-null  float64
 52  PHOTOS_TAKEN_I                 94 non-null     object
 53  STATEMENTS_TAKEN_I             340 non-null    object
 54  DOORING_I                      1690 non-null   object
 55  WORK_ZONE_I                    59 non-null     object
 56  WORK_ZONE_TYPE                 41 non-null     object
 57  WORKERS_PRESENT_I              14 non-null     object
 58  NUM_UNITS                      10394 non-null  int64
 59  MOST_SEVERE_INJURY             10394 non-null  object
 60  INJURIES_TOTAL                 10394 non-null  float64
 61  INJURIES_FATAL                 10394 non-null  float64
 62  INJURIES_INCAPACITATING        10394 non-null  float64
 63  INJURIES_NON_INCAPACITATING    10394 non-null  float64
 64  INJURIES_REPORTED_NOT_EVIDENT  10394 non-null  float64
 65  INJURIES_NO_INDICATION         10394 non-null  float64
 66  INJURIES_UNKNOWN               10394 non-null  float64
 67  CRASH_HOUR                     10394 non-null  int64
 68  CRASH_DAY_OF_WEEK              10394 non-null  int64
 69  CRASH_MONTH                    10394 non-null  int64
 70  LATITUDE                       10378 non-null  float64
 71  LONGITUDE                      10378 non-null  float64
 72  LOCATION                       10378 non-null  object
 73  CRASH_UNIT_ID                  10394 non-null  int64
 74  RD_NO                          10371 non-null  object
 75  CRASH_DATE                     10394 non-null  object
 76  UNIT_NO                        10394 non-null  int64
 77  UNIT_TYPE                      10370 non-null  object
 78  NUM_PASSENGERS                 1151 non-null   float64
 79  VEHICLE_ID_y                   6829 non-null   float64
 80  CMRC_VEH_I                     88 non-null     object
 81  MAKE                           6829 non-null   object
 82  MODEL                          6829 non-null   object
 83  LIC_PLATE_STATE                5944 non-null   object
 84  VEHICLE_YEAR                   4911 non-null   float64
 85  VEHICLE_DEFECT                 6829 non-null   object
 86  VEHICLE_TYPE                   6829 non-null   object
 87  VEHICLE_USE                    6829 non-null   object
 88  TRAVEL_DIRECTION               6829 non-null   object
 89  MANEUVER                       6829 non-null   object
 90  TOWED_I                        125 non-null    object
 91  FIRE_I                         3 non-null      object
 92  OCCUPANT_CNT                   6829 non-null   float64
 93  EXCEED_SPEED_LIMIT_I           8 non-null      object
 94  TOWED_BY                       71 non-null     object
 95  TOWED_TO                       54 non-null     object
 96  AREA_00_I                      1171 non-null   object
 97  AREA_01_I                      1368 non-null   object
 98  AREA_02_I                      700 non-null    object
 99  AREA_03_I                      542 non-null    object
 100 AREA_04_I                      247 non-null    object
 101 AREA_05_I                      118 non-null    object
 102 AREA_06_I                      81 non-null     object
 103 AREA_07_I                      379 non-null    object
 104 AREA_08_I                      353 non-null    object
 105 AREA_09_I                      344 non-null    object
 106 AREA_10_I                      285 non-null    object
 107 AREA_11_I                      589 non-null    object
 108 AREA_12_I                      990 non-null    object
 109 AREA_99_I                      1567 non-null   object
 110 FIRST_CONTACT_POINT            6762 non-null   object
 111 CMV_ID                         30 non-null     float64
 112 USDOT_NO                       13 non-null     object
 113 CCMC_NO                        6 non-null      object
 114 ILCC_NO                        6 non-null      object
 115 COMMERCIAL_SRC                 18 non-null     object
 116 GVWR                           16 non-null     float64
 117 CARRIER_NAME                   28 non-null     object
 118 CARRIER_STATE                  25 non-null     object
 119 CARRIER_CITY                   25 non-null     object
 120 HAZMAT_PRESENT_I               22 non-null     object
 121 HAZMAT_REPORT_I                22 non-null     object
 122 MCS_REPORT_I                   21 non-null     object
 123 HAZMAT_VIO_CAUSE_CRASH_I       22 non-null     object
 124 MCS_VIO_CAUSE_CRASH_I          21 non-null     object
 125 TRAILER1_WIDTH                 2 non-null      object
 126 TRAILER1_LENGTH                2 non-null      float64
 127 TOTAL_VEHICLE_LENGTH           5 non-null      float64
 128 AXLE_CNT                       7 non-null      float64
 129 VEHICLE_CONFIG                 24 non-null     object
 130 CARGO_BODY_TYPE                22 non-null     object
 131 LOAD_TYPE                      22 non-null     object
 132 HAZMAT_OUT_OF_SERVICE_I        21 non-null     object
 133 MCS_OUT_OF_SERVICE_I           21 non-null     object
 134 HAZMAT_CLASS                   1 non-null      object
dtypes: float64(22), int64(9), object(104)
memory usage: 10.7+ MB

In [5]:
df = df.drop(['HOSPITAL', 'EMS_AGENCY', 'BAC_RESULT VALUE','CELL_PHONE_USE', 'DATE_POLICE_NOTIFIED', 'PHOTOS_TAKEN_I','STATEMENTS_TAKEN_I', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'CMRC_VEH_I', 'MAKE', 'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_USE', 'TOWED_I', 'FIRE_I','EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO', 'AREA_00_I', 'AREA_01_I','AREA_02_I', 'AREA_03_I', 'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I','AREA_08_I', 'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I','CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME','HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'MCS_VIO_CAUSE_CRASH_I', 'TRAILER1_WIDTH','TRAILER1_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG','CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I', 'MCS_OUT_OF_SERVICE_I','HAZMAT_CLASS', 'INJURIES_TOTAL', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING','INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION','INJURIES_UNKNOWN', 'CARRIER_STATE', 'CARRIER_CITY', 'MCS_REPORT_I','HAZMAT_VIO_CAUSE_CRASH_I'] ,axis=1)

In [6]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10394 entries, 0 to 10393
Data columns (total 70 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10394 non-null  int64
 1   PERSON_ID                10394 non-null  object
 2   PERSON_TYPE              10394 non-null  object
 3   CRASH_RECORD_ID          10394 non-null  object
 4   RD_NO_x                  10371 non-null  object
 5   CRASH_DATE_x             10394 non-null  object
 6   CITY                     8934 non-null   object
 7   STATE                    8832 non-null   object
 8   ZIPCODE                  7421 non-null   object
 9   SEX                      10249 non-null  object
 10  AGE                      8844 non-null   float64
 11  SAFETY_EQUIPMENT         10256 non-null  object
 12  EJECTION                 10069 non-null  object
 13  INJURY_CLASSIFICATION    10392 non-null  object
 14  DRIVER_ACTION            10191 non-null  object
 15  DRIVER_VISION            10152 non-null  object
 16  PHYSICAL_CONDITION       10204 non-null  object
 17  PEDPEDAL_ACTION          10392 non-null  object
 18  PEDPEDAL_VISIBILITY      10392 non-null  object
 19  PEDPEDAL_LOCATION        10392 non-null  object
 20  BAC_RESULT               10036 non-null  object
 21  RD_NO_y                  10371 non-null  object
 22  CRASH_DATE_EST_I         519 non-null    object
 23  CRASH_DATE_y             10394 non-null  object
 24  POSTED_SPEED_LIMIT       10394 non-null  int64
 25  TRAFFIC_CONTROL_DEVICE   10394 non-null  object
 26  DEVICE_CONDITION         10394 non-null  object
 27  WEATHER_CONDITION        10394 non-null  object
 28  LIGHTING_CONDITION       10394 non-null  object
 29  FIRST_CRASH_TYPE         10394 non-null  object
 30  TRAFFICWAY_TYPE          10394 non-null  object
 31  LANE_CNT                 2921 non-null   float64
 32  ALIGNMENT                10394 non-null  object
 33  ROADWAY_SURFACE_COND     10394 non-null  object
 34  ROAD_DEFECT              10394 non-null  object
 35  REPORT_TYPE              10015 non-null  object
 36  CRASH_TYPE               10394 non-null  object
 37  INTERSECTION_RELATED_I   3879 non-null   object
 38  NOT_RIGHT_OF_WAY_I       88 non-null     object
 39  HIT_AND_RUN_I            2795 non-null   object
 40  DAMAGE                   10394 non-null  object
 41  PRIM_CONTRIBUTORY_CAUSE  10394 non-null  object
 42  SEC_CONTRIBUTORY_CAUSE   10394 non-null  object
 43  STREET_NO                10394 non-null  int64
 44  STREET_DIRECTION         10394 non-null  object
 45  STREET_NAME              10394 non-null  object
 46  BEAT_OF_OCCURRENCE       10394 non-null  float64
 47  DOORING_I                1690 non-null   object
 48  WORK_ZONE_I              59 non-null     object
 49  WORK_ZONE_TYPE           41 non-null     object
 50  WORKERS_PRESENT_I        14 non-null     object
 51  NUM_UNITS                10394 non-null  int64
 52  MOST_SEVERE_INJURY       10394 non-null  object
 53  CRASH_HOUR               10394 non-null  int64
 54  CRASH_DAY_OF_WEEK        10394 non-null  int64
 55  CRASH_MONTH              10394 non-null  int64
 56  CRASH_UNIT_ID            10394 non-null  int64
 57  RD_NO                    10371 non-null  object
 58  CRASH_DATE               10394 non-null  object
 59  UNIT_NO                  10394 non-null  int64
 60  UNIT_TYPE                10370 non-null  object
 61  NUM_PASSENGERS           1151 non-null   float64
 62  VEHICLE_ID_y             6829 non-null   float64
 63  VEHICLE_YEAR             4911 non-null   float64
 64  VEHICLE_DEFECT           6829 non-null   object
 65  VEHICLE_TYPE             6829 non-null   object
 66  TRAVEL_DIRECTION         6829 non-null   object
 67  MANEUVER                 6829 non-null   object
 68  OCCUPANT_CNT             6829 non-null   float64
 69  FIRST_CONTACT_POINT      6762 non-null   object
dtypes: float64(7), int64(9), object(54)
memory usage: 5.6+ MB

In [7]:
df['SAFETY_EQUIPMENT'].value_counts()

HELMET NOT USED                               4792
BICYCLE HELMET (PEDACYCLIST INVOLVED ONLY)    2415
NONE PRESENT                                  1305
USAGE UNKNOWN                                  869
HELMET USED                                    831
SAFETY BELT USED                                27
SAFETY BELT NOT USED                            17
Name: SAFETY_EQUIPMENT, dtype: int64

In [8]:
df.loc[(df['SAFETY_EQUIPMENT'] == 'HELMET USED') | (df['SAFETY_EQUIPMENT'] == 'HELMET NOT USED')]

,Unnamed: 0,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO_x,CRASH_DATE_x,CITY,STATE,ZIPCODE,SEX,...,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID_y,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
0,0,O838337,BICYCLE,03204df22743eb4559749b8e3966c471a544228aa0fe9c...,JD144885,02/08/2020 05:04:00 PM,CHICAGO,IL,60628,F,...,DRIVER,NaN,795558.0,2002.0,NONE,VAN/MINI-VAN,S,TURNING LEFT,1.0,OTHER
1,2,O874505,BICYCLE,0d5d0bebc62e6653d10db0187013c73349440dd237356b...,JD214394,04/22/2020 09:32:00 AM,CHICAGO,IL,60632,M,...,DRIVER,1.0,829665.0,2008.0,NONE,SPORT UTILITY VEHICLE (SUV),SW,TURNING RIGHT,2.0,TOTAL (ALL AREAS)
4,8,O1305176,BICYCLE,af832f1ac5d658f789ec5aafbeaa9f8e85f77397f8e8b6...,JF186444,03/25/2022 03:20:00 PM,EVANSTON,IL,60202,M,...,DRIVER,NaN,1239512.0,2018.0,UNKNOWN,PASSENGER,N,OTHER,1.0,ROOF
5,10,O840081,BICYCLE,fa17dd4143f4be2cb5971bc18db7f6ab284005f2430281...,JD148153,02/10/2020 05:00:00 PM,CHCIAGO,IL,60641,M,...,DRIVER,NaN,797231.0,2020.0,UNKNOWN,UNKNOWN/NA,N,STRAIGHT AHEAD,1.0,TOTAL (ALL AREAS)
7,14,O1306899,BICYCLE,839411bc45c294ee67415ba0b80064859239709a4d0b7b...,JF186513,03/25/2022 05:30:00 PM,CHICAGO,IL,60657,F,...,BICYCLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10385,21591,O1526805,BICYCLE,fa52c081055aabfb54c482e1a7781f8ee42096e159eea7...,NaN,02/28/2023 06:20:00 PM,CHICAGO,IL,60637,M,...,DRIVER,NaN,1451779.0,2015.0,NONE,PASSENGER,N,TURNING LEFT,1.0,ROOF
10386,21593,O1521161,BICYCLE,a37ed39e0b8b9bc6f2c0e3f25ce9b73c62cd87a26ae935...,JF501025,12/07/2022 07:10:00 AM,CHICAGO,IL,60610,M,...,BICYCLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10387,21595,O1527141,BICYCLE,b73a5a4cea14d09feea950c34fd0c9bc5d33e99955bfb2...,NaN,02/27/2023 05:15:00 PM,NaN,NaN,NaN,M,...,BICYCLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10388,21597,O1527331,BICYCLE,9dc207cecf809ca42b02cd5b95d7bdfadda9ca3d1976c9...,NaN,03/01/2023 02:35:00 PM,CHICAGO,IL,60659,M,...,BICYCLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10393,21607,O1527949,BICYCLE,84b1dce035d003fa89f75009619f1ed14c388ef5f616d2...,NaN,03/02/2023 05:16:00 PM,YORKVILLE,IL,60560,M,...,DRIVER,NaN,1452878.0,NaN,UNKNOWN,PASSENGER,W,UNKNOWN/NA,1.0,FRONT

In [ ]:
df['SAFETY_EQUIPMENT'].

In [18]:
df['HELMET_USED'] = None
df.loc[df['SAFETY_EQUIPMENT'] == 'HELMET USED', 'HELMET_USED'] = 1
df.loc[df['SAFETY_EQUIPMENT'] == 'BICYCLE HELMET (PEDACYCLIST INVOLVED ONLY)', 'HELMET_USED'] = 1

df.loc[df['SAFETY_EQUIPMENT'] == 'HELMET NOT USED', 'HELMET_USED'] = 0
df.loc[df['SAFETY_EQUIPMENT'] == 'NONE PRESENT', 'HELMET_USED'] = 0

In [19]:
df['HELMET_USED'].value_counts()

0    6097
1    3246
Name: HELMET_USED, dtype: int64

In [20]:
df.head()

,Unnamed: 0,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO_x,CRASH_DATE_x,CITY,STATE,ZIPCODE,SEX,...,NUM_PASSENGERS,VEHICLE_ID_y,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT,HELMET_USED
0,0,O838337,BICYCLE,03204df22743eb4559749b8e3966c471a544228aa0fe9c...,JD144885,02/08/2020 05:04:00 PM,CHICAGO,IL,60628,F,...,NaN,795558.0,2002.0,NONE,VAN/MINI-VAN,S,TURNING LEFT,1.0,OTHER,0
1,2,O874505,BICYCLE,0d5d0bebc62e6653d10db0187013c73349440dd237356b...,JD214394,04/22/2020 09:32:00 AM,CHICAGO,IL,60632,M,...,1.0,829665.0,2008.0,NONE,SPORT UTILITY VEHICLE (SUV),SW,TURNING RIGHT,2.0,TOTAL (ALL AREAS),0
2,4,O849077,BICYCLE,5a16c6b44a53cc000fa17d7150b714e7b03a0b567ec602...,JD163465,02/23/2020 09:15:00 PM,CHICAGO,IL,60657,M,...,1.0,805796.0,NaN,UNKNOWN,PASSENGER,W,PASSING/OVERTAKING,2.0,ROOF,1
3,6,O1305166,BICYCLE,f6530ba62b5c98c25065dae4779f0303b6a201c5735a9c...,JF186366,03/25/2022 03:22:00 PM,EVANSTON,IL,60202,M,...,NaN,1239501.0,2018.0,UNKNOWN,PASSENGER,N,PARKED,0.0,UNKNOWN,1
4,8,O1305176,BICYCLE,af832f1ac5d658f789ec5aafbeaa9f8e85f77397f8e8b6...,JF186444,03/25/2022 03:20:00 PM,EVANSTON,IL,60202,M,...,NaN,1239512.0,2018.0,UNKNOWN,PASSENGER,N,OTHER,1.0,ROOF,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10394 entries, 0 to 10393
Data columns (total 71 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10394 non-null  int64
 1   PERSON_ID                10394 non-null  object
 2   PERSON_TYPE              10394 non-null  object
 3   CRASH_RECORD_ID          10394 non-null  object
 4   RD_NO_x                  10371 non-null  object
 5   CRASH_DATE_x             10394 non-null  object
 6   CITY                     8934 non-null   object
 7   STATE                    8832 non-null   object
 8   ZIPCODE                  7421 non-null   object
 9   SEX                      10249 non-null  object
 10  AGE                      8844 non-null   float64
 11  SAFETY_EQUIPMENT         10256 non-null  object
 12  EJECTION                 10069 non-null  object
 13  INJURY_CLASSIFICATION    10392 non-null  object
 14  DRIVER_ACTION            10191 non-null  object
 15  DRIVER_VISION            10152 non-null  object
 16  PHYSICAL_CONDITION       10204 non-null  object
 17  PEDPEDAL_ACTION          10392 non-null  object
 18  PEDPEDAL_VISIBILITY      10392 non-null  object
 19  PEDPEDAL_LOCATION        10392 non-null  object
 20  BAC_RESULT               10036 non-null  object
 21  RD_NO_y                  10371 non-null  object
 22  CRASH_DATE_EST_I         519 non-null    object
 23  CRASH_DATE_y             10394 non-null  object
 24  POSTED_SPEED_LIMIT       10394 non-null  int64
 25  TRAFFIC_CONTROL_DEVICE   10394 non-null  object
 26  DEVICE_CONDITION         10394 non-null  object
 27  WEATHER_CONDITION        10394 non-null  object
 28  LIGHTING_CONDITION       10394 non-null  object
 29  FIRST_CRASH_TYPE         10394 non-null  object
 30  TRAFFICWAY_TYPE          10394 non-null  object
 31  LANE_CNT                 2921 non-null   float64
 32  ALIGNMENT                10394 non-null  object
 33  ROADWAY_SURFACE_COND     10394 non-null  object
 34  ROAD_DEFECT              10394 non-null  object
 35  REPORT_TYPE              10015 non-null  object
 36  CRASH_TYPE               10394 non-null  object
 37  INTERSECTION_RELATED_I   3879 non-null   object
 38  NOT_RIGHT_OF_WAY_I       88 non-null     object
 39  HIT_AND_RUN_I            2795 non-null   object
 40  DAMAGE                   10394 non-null  object
 41  PRIM_CONTRIBUTORY_CAUSE  10394 non-null  object
 42  SEC_CONTRIBUTORY_CAUSE   10394 non-null  object
 43  STREET_NO                10394 non-null  int64
 44  STREET_DIRECTION         10394 non-null  object
 45  STREET_NAME              10394 non-null  object
 46  BEAT_OF_OCCURRENCE       10394 non-null  float64
 47  DOORING_I                1690 non-null   object
 48  WORK_ZONE_I              59 non-null     object
 49  WORK_ZONE_TYPE           41 non-null     object
 50  WORKERS_PRESENT_I        14 non-null     object
 51  NUM_UNITS                10394 non-null  int64
 52  MOST_SEVERE_INJURY       10394 non-null  object
 53  CRASH_HOUR               10394 non-null  int64
 54  CRASH_DAY_OF_WEEK        10394 non-null  int64
 55  CRASH_MONTH              10394 non-null  int64
 56  CRASH_UNIT_ID            10394 non-null  int64
 57  RD_NO                    10371 non-null  object
 58  CRASH_DATE               10394 non-null  object
 59  UNIT_NO                  10394 non-null  int64
 60  UNIT_TYPE                10370 non-null  object
 61  NUM_PASSENGERS           1151 non-null   float64
 62  VEHICLE_ID_y             6829 non-null   float64
 63  VEHICLE_YEAR             4911 non-null   float64
 64  VEHICLE_DEFECT           6829 non-null   object
 65  VEHICLE_TYPE             6829 non-null   object
 66  TRAVEL_DIRECTION         6829 non-null   object
 67  MANEUVER                 6829 non-null   object
 68  OCCUPANT_CNT             6829 non-null   float64
 69  FIRST_CONTACT_POINT      6762 non-null   object
 70  HELMET_USED              9343 non-null   object
dtypes: float64(7), int64(9), object(55)
memory usage: 5.6+ MB

In [22]:
df.isnull().sum()

Unnamed: 0                0
PERSON_ID                 0
PERSON_TYPE               0
CRASH_RECORD_ID           0
RD_NO_x                  23
                       ...
TRAVEL_DIRECTION       3565
MANEUVER               3565
OCCUPANT_CNT           3565
FIRST_CONTACT_POINT    3632
HELMET_USED            1051
Length: 71, dtype: int64

In [23]:
df['INJURY_CLASSIFICATION'].value_counts()

NONINCAPACITATING INJURY    4998
NO INDICATION OF INJURY     3228
REPORTED, NOT EVIDENT       1167
INCAPACITATING INJURY        968
FATAL                         31
Name: INJURY_CLASSIFICATION, dtype: int64

In [26]:
df.loc[df['INJURY_CLASSIFICATION'] == 'INCAPACITATING INJURY', 'INJURY_BAD'] = 1
df.loc[df['INJURY_CLASSIFICATION'] == 'FATAL', 'INJURY_BAD'] = 1

df.loc[df['INJURY_CLASSIFICATION'] == 'REPORTED, NOT EVIDENT', 'INJURY_BAD'] = 0
df.loc[df['INJURY_CLASSIFICATION'] == 'NO INDICATION OF INJURY', 'INJURY_BAD'] = 0
df.loc[df['INJURY_CLASSIFICATION'] == 'NONINCAPACITATING INJURY', 'INJURY_BAD'] = 0

In [27]:
df['INJURY_BAD'].value_counts()

0    9393
1     999
Name: INJURY_BAD, dtype: int64

In [35]:
drop_varibles = df.drop('INJURY_BAD','PERSON_ID')

X = df.drop(drop_varibles,axis=1)
y = df['INJURY_BAD']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

ValueError: No axis named PERSON_ID for object type DataFrame

TypeError: classification_report() missing 1 required positional argument: 'y_pred'

In [31]:
from sklearn.tree import DecisionTreeClassifier 



dt = DecisionTreeClassifier(max_depth=2,random_state=42)

In [33]:
dt.fit(X_train,y_train)

ValueError: could not convert string to float: 'O1100869'

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10394 entries, 0 to 10393
Data columns (total 72 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10394 non-null  int64
 1   PERSON_ID                10394 non-null  object
 2   PERSON_TYPE              10394 non-null  object
 3   CRASH_RECORD_ID          10394 non-null  object
 4   RD_NO_x                  10371 non-null  object
 5   CRASH_DATE_x             10394 non-null  object
 6   CITY                     8934 non-null   object
 7   STATE                    8832 non-null   object
 8   ZIPCODE                  7421 non-null   object
 9   SEX                      10249 non-null  object
 10  AGE                      8844 non-null   float64
 11  SAFETY_EQUIPMENT         10256 non-null  object
 12  EJECTION                 10069 non-null  object
 13  INJURY_CLASSIFICATION    10392 non-null  object
 14  DRIVER_ACTION            10191 non-null  object
 15  DRIVER_VISION            10152 non-null  object
 16  PHYSICAL_CONDITION       10204 non-null  object
 17  PEDPEDAL_ACTION          10392 non-null  object
 18  PEDPEDAL_VISIBILITY      10392 non-null  object
 19  PEDPEDAL_LOCATION        10392 non-null  object
 20  BAC_RESULT               10036 non-null  object
 21  RD_NO_y                  10371 non-null  object
 22  CRASH_DATE_EST_I         519 non-null    object
 23  CRASH_DATE_y             10394 non-null  object
 24  POSTED_SPEED_LIMIT       10394 non-null  int64
 25  TRAFFIC_CONTROL_DEVICE   10394 non-null  object
 26  DEVICE_CONDITION         10394 non-null  object
 27  WEATHER_CONDITION        10394 non-null  object
 28  LIGHTING_CONDITION       10394 non-null  object
 29  FIRST_CRASH_TYPE         10394 non-null  object
 30  TRAFFICWAY_TYPE          10394 non-null  object
 31  LANE_CNT                 2921 non-null   float64
 32  ALIGNMENT                10394 non-null  object
 33  ROADWAY_SURFACE_COND     10394 non-null  object
 34  ROAD_DEFECT              10394 non-null  object
 35  REPORT_TYPE              10015 non-null  object
 36  CRASH_TYPE               10394 non-null  object
 37  INTERSECTION_RELATED_I   3879 non-null   object
 38  NOT_RIGHT_OF_WAY_I       88 non-null     object
 39  HIT_AND_RUN_I            2795 non-null   object
 40  DAMAGE                   10394 non-null  object
 41  PRIM_CONTRIBUTORY_CAUSE  10394 non-null  object
 42  SEC_CONTRIBUTORY_CAUSE   10394 non-null  object
 43  STREET_NO                10394 non-null  int64
 44  STREET_DIRECTION         10394 non-null  object
 45  STREET_NAME              10394 non-null  object
 46  BEAT_OF_OCCURRENCE       10394 non-null  float64
 47  DOORING_I                1690 non-null   object
 48  WORK_ZONE_I              59 non-null     object
 49  WORK_ZONE_TYPE           41 non-null     object
 50  WORKERS_PRESENT_I        14 non-null     object
 51  NUM_UNITS                10394 non-null  int64
 52  MOST_SEVERE_INJURY       10394 non-null  object
 53  CRASH_HOUR               10394 non-null  int64
 54  CRASH_DAY_OF_WEEK        10394 non-null  int64
 55  CRASH_MONTH              10394 non-null  int64
 56  CRASH_UNIT_ID            10394 non-null  int64
 57  RD_NO                    10371 non-null  object
 58  CRASH_DATE               10394 non-null  object
 59  UNIT_NO                  10394 non-null  int64
 60  UNIT_TYPE                10370 non-null  object
 61  NUM_PASSENGERS           1151 non-null   float64
 62  VEHICLE_ID_y             6829 non-null   float64
 63  VEHICLE_YEAR             4911 non-null   float64
 64  VEHICLE_DEFECT           6829 non-null   object
 65  VEHICLE_TYPE             6829 non-null   object
 66  TRAVEL_DIRECTION         6829 non-null   object
 67  MANEUVER                 6829 non-null   object
 68  OCCUPANT_CNT             6829 non-null   float64
 69  FIRST_CONTACT_POINT      6762 non-null   object
 70  HELMET_USED              9343 non-null   object
 71  INJURY_BAD               10392 non-null  object
dtypes: float64(7), int64(9), object(56)
memory usage: 5.7+ MB

In [38]:
#PEDPEDAL_ACTION PEDPEDAL_VISIBILITY PEDPEDAL_LOCATION  

df['PEDPEDAL_ACTION'].value_counts()

WITH TRAFFIC                                         3614
UNKNOWN/NA                                           1193
OTHER ACTION                                         1081
CROSSING - WITH SIGNAL                                987
NO ACTION                                             693
CROSSING - AGAINST SIGNAL                             515
AGAINST TRAFFIC                                       512
CROSSING - NO CONTROLS (AT INTERSECTION)              401
TURNING LEFT                                          374
CROSSING - NO CONTROLS (NOT AT INTERSECTION)          253
ENTER FROM DRIVE/ALLEY                                185
CROSSING - CONTROLS PRESENT (NOT AT INTERSECTION)     162
TURNING RIGHT                                         160
NOT AT INTERSECTION                                   135
INTOXICATED PED/PEDAL                                  38
STANDING IN ROADWAY                                    33
PARKED VEHICLE                                         29
PLAYING IN ROADWAY                                     11
WORKING IN ROADWAY                                      7
TO/FROM DISABLED VEHICLE                                3
PLAYING/WORKING ON VEHICLE                              2
SCHOOL BUS (WITHIN 50 FT.)                              2
WAITING FOR SCHOOL BUS                                  2
Name: PEDPEDAL_ACTION, dtype: int64

In [39]:
df['PEDPEDAL_VISIBILITY'].value_counts()

NO CONTRASTING CLOTHING    7582
CONTRASTING CLOTHING       1597
OTHER LIGHT SOURCE USED     773
REFLECTIVE MATERIAL         440
Name: PEDPEDAL_VISIBILITY, dtype: int64

In [42]:
df.loc[df['PEDPEDAL_VISIBILITY'] == 'REFLECTIVE MATERIAL', 'PROTECTIVE_CLOTHING'] = 1
df.loc[df['PEDPEDAL_VISIBILITY'] == 'OTHER LIGHT SOURCE USED', 'PROTECTIVE_CLOTHING'] = 1
df.loc[df['PEDPEDAL_VISIBILITY'] == 'CONTRASTING CLOTHING', 'PROTECTIVE_CLOTHING'] = 1

df.loc[df['PEDPEDAL_VISIBILITY'] == 'NO CONTRASTING CLOTHING', 'PROTECTIVE_CLOTHING'] = 0

In [44]:
df['PROTECTIVE_CLOTHING'].value_counts()

0.0    7582
1.0    2810
Name: PROTECTIVE_CLOTHING, dtype: int64

In [41]:
df['PEDPEDAL_LOCATION'].value_counts()

IN ROADWAY         6182
IN CROSSWALK       1322
BIKEWAY            1160
BIKE LANE           745
UNKNOWN/NA          497
NOT IN ROADWAY      304
DRIVEWAY ACCESS     127
SHOULDER             55
Name: PEDPEDAL_LOCATION, dtype: int64

In [45]:
df['WEATHER_CONDITION'].value_counts()

CLEAR                     9038
RAIN                       692
CLOUDY/OVERCAST            273
UNKNOWN                    271
SNOW                        73
OTHER                       19
FOG/SMOKE/HAZE              13
FREEZING RAIN/DRIZZLE        8
SLEET/HAIL                   5
BLOWING SNOW                 1
SEVERE CROSS WIND GATE       1
Name: WEATHER_CONDITION, dtype: int64

In [46]:
df['LIGHTING_CONDITION'].value_counts()

DAYLIGHT                  7427
DARKNESS, LIGHTED ROAD    1924
DUSK                       380
DARKNESS                   359
UNKNOWN                    175
DAWN                       129
Name: LIGHTING_CONDITION, dtype: int64

In [48]:
#POSTED_SPEED_LIMIT  < 20
df['POSTED_SPEED_LIMIT'].value_counts()

30    8305
25     699
35     647
20     357
15     195
0       67
10      62
40      25
5       21
45       9
60       1
4        1
99       1
3        1
2        1
9        1
24       1
Name: POSTED_SPEED_LIMIT, dtype: int64